.default-layout {
    display: grid;
    grid-template-rows: 80px auto 3rem;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}
.Header-main {
    grid-area: header;
}
.main-main {
    grid-area: main;
    min-height: 88vh;
}
.Footer-main {
    grid-area: footer;
    background-color: black;
    padding: 1rem;
    color: white;
}